<form action="/cart" method="post">
    <button class="btn btn-success" type="submit"><i class="bi bi-cart-plus"></i> Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>